<%- include("partials/header") %>

    <!--Conteúdo 1 - apresentação geral do projeto-->
    
    <div class="block" id="b1">
        <!--Heading da pagina-->
        <h1 id="pageTitle"><%= projectName %></h1>
        <h1 id="subtitulo">O futuro dos investimentos <br> e da sua sociedade</h1>
    </div>

    <div class="blockText">
        <!--<p>Texto sobre "o futuro da sociedade Digital"</p>-->
        <p>Uma plataforma que se propõe a revolucionar a forma como o ser humano usa a Internet
            <br>
            Com a tecnologia blockchain
        </p>
        <p>Impulsionar projetos, e melhorar a qualidade das interações no meio digital</p>
        <p>Como? Através de uma rede social confiável, e uma plataforma de DeFi para financiar projetos</p>
        <p>Transformar sonhos em Projetos, e projetos em realidade</p>
    </div>

    <div class="block" id="b2">
        <h1></h1>
        <!--Colocar imagem/video do universo virando a interface do app-->
    </div>

    <div class="blockText" id="uselessBlock">
        <!--<p>Texto sobre "Um universo inteiro para chamar de seu"</p>-->
        <p>Explore a imensidão da internet da forma como achar melhor</p>
        <p>Aproveite a sua bolha, e crie seu próprio universo</p>
        <p>Descubra e participe de qual delas quiser</p>
    </div>


    <div class="blockText">
        <!--<p>Texto sobre "Você no controle"</p>-->
        <br>
        <br>
    </div>

    <!--Esses 3 objetos aqui terão as imagens e textos alternados-->
    <div class="rightAltContent">
        <h1>Tokenize-se</h1>
        <h3>Tokenize seus projetos</h3>
        <h3>Tokenize seu dinheiro</h3>
        <h3>Tokenize seus investimentos</h3>
        <p>
            Nossa plataforma tem como a principal propostar usar os tokens para revolucionar as finanças no mundo
        </p>
    </div>

    <img class="rightAltContentImg" src="css/images/diagramas e figuras/tokenize-se logo.png">

    <div class="leftAltContent">
        <h1>Escolha onde quer estar</h1>
        <h3>Acompanhe seus interesses,</h3>
        <h3>O que você admira,</h3>
        <h3>Dê suporte a aquilo que você acredita</h3>
        <p>
            Aqui você escolhe como tornar o mundo, o seu mundo, um lugar melhor
        </p>
    </div>

    <img class="leftAltContentImg" src="css/images/diagramas e figuras/esteja onde quiser.png">
    
    <div class="rightAltContent">
        <h1>Invista</h1>
        <h3>Apoie os projetos que você acredita,</h3>
        <h3>Encontre apoiadores para os seus próprios,</h3>
        <h3>Lucre de qualquer jeito</h3>
        <p>Faça o seu projeto a arrecadar fundos, doe fundos para viabilizar outros projetos e rentabilize seus Tokens</p>
    </div>

    <img class="RightAltContentImg" id="RightAltContentImg2" src="css/images/diagramas e figuras/invistaLogo.png">

    <%- include("sobre") %>

    <%- include("community")%>

    <%- include("team") %>

    <%- include("partials/footer") %>